@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body {
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
	width: auto;
	height: auto;
	background-image: url(https://motionarray.imgix.net/preview-82967-gZ6ArOJAiM-low_0011.jpg?w=660&q=60&fit=max&auto=format);
	background-size: cover;
	-webkit-filter: blur(0px);
}

.header{
	position: absolute;
	top: 50px;
	left: 300px;
	
}

.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 40px;
	font-weight: 200;
}

.header div span{
	color: #F29E20 !important;
}